$footerHt: 223px;
$maxPageWidth: 1500px;

$global-padding: 15px;
$global-border-colour: rgba(255, 255, 255, 0.3);
/*Import Custom Google Fonts*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Signika+Negative);

/*Import FontAwesome*/
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/font/fontawesome-webfont.eot?v=3.2.1") format("embedded-opentype"),
  url("http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/font/fontawesome-webfont.woff?v=3.2.1") format("woff"),
  url("http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/font/fontawesome-webfont.tff?v=3.2.1") format("truetype"); }


/*the sticky footer settings*/
html, body {height: 100%;}
#main-body {
  overflow:auto;
}
footer {
  position: relative;
  clear:both;
}
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}
/*End: the sticky footer settings*/

body{
 background: no-repeat fixed center center / cover rgba(0, 0, 0, 0);
}
a, a:visited, a:active{
  color: inherit;text-decoration: none;
}

li, ul{
  margin: 0; list-style: none; padding: 0;
}

#main-body{
  position: relative;
  width: 100%;
  height: 100%;
  .main-body-container{
    -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.57);
    -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.57);
    box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.57);
    width: 95%;
    max-width: $maxPageWidth;
    background: #F5EEE9;
    margin: 0 auto;
    min-height: 100%;
  }
}

.font-awesome{
  font-family: FontAwesome;
}
.font-open{
  font-family: 'Open Sans', sans-serif;
}
.font-signika{
  font-family: 'Signika Negative', sans-serif;
}
.font-roboto{
  font-family: 'Roboto Slab', sans-serif;
}
.font-title{
  @extend .font-roboto;
}
.font-thin{
  @extend .font-open;
  font-weight: 300;
}
.font-normal{
  @extend .font-open;
  font-weight: 400;
}

.heading{font-size: 22px;}

.seperator{
  $opacity: 0.3;
  width: 100%; margin: 15px 0; height: 1px;
  background: rgba(255,255,255, $opacity);
  &.dark{
    background: rgba(0,0,0, $opacity);
  }
  &.no-margin{
    margin: 0;
  }
}

.text-center{text-align:center;}
.text-right{text-align: right;}
.text-left{text-align: left;}
.text-upper{text-transform: uppercase;}
.text-unselectable{
  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
  -o-user-select: none; user-select: none;
}

.border-left{border-left: 1px solid $global-border-colour;}
.border-right{border-right: 1px solid $global-border-colour;}
.border-top{border-top: 1px solid $global-border-colour;}
.border-bottom{border-bottom: 1px solid $global-border-colour;}

.float-left{float: left;}
.float-right{float: right}



.padding{padding: $global-padding;}
.padding-left{padding-left: $global-padding;}
.padding-right{padding-right: $global-padding;}
.padding-bottom{padding-bottom: $global-padding;}
.padding-top{padding-top: $global-padding;}

.no-padding{padding: 0 !important;}
.no-padding-left{padding-left: 0 !important;}
.no-padding-right{padding-right: 0 !important;}
.no-padding-bottom{padding-bottom: 0 !important;}
.no-padding-top{padding-top: 0 !important;}

.container{
  margin: 0 auto;
  width: 100%;
  max-width: $maxPageWidth;
}
