#login-page{
  /*background:#E4EBF3;*/
  #login-window{
    background: #2A2A2C;
    color: #FFF;
    width: 550px;
    margin: 50px auto;
    
    .active .title{
      background: #487CD9;
    }
    .title{
      background: #2A2A2C;
      height:50px;
      display: inline-block;
      border: none;
      padding: 0 10px;
      a{
        color: #FFF;
        padding: 17px;
      }
    }
    .dropdown{
      padding-top: 50px;
    }
    .content{
      background: #3b3b3d;
      color: white;
      border: none;
      padding-top: 1px;
      .form-text{
        line-height: 50px;
        font-size: 16px;
      }
      .form-text,input {
        color: inherit;
        height: 50px;
      }
      input{
        font-size: 12px;
        background: rgba(255,255,255,.3);
        border: none;
        padding-left: 10px;
      }
      .form-submit{
        background: #487CD9;
      }
      /*.seperator{*/
      /*  background: rgba(255,255,255,0.3);*/
      /*}*/
    }
  }
}