@import url(http://fonts.googleapis.com/css?family=Oxygen);
/*Import Custom Google Fonts*/
/*Import FontAwesome*/
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/font/fontawesome-webfont.eot?v=3.2.1") format("embedded-opentype"), url("http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/font/fontawesome-webfont.woff?v=3.2.1") format("woff"), url("http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/font/fontawesome-webfont.tff?v=3.2.1") format("truetype"); }

a {
  text-decoration: none; }

.font-awesome {
  font-family: FontAwesome; }

/*The font we will use for titles*/
.font-title {
  font-family: 'Oxygen', sans-serif; }

.seperator {
  width: 100%;
  margin: 15px 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.3); }

#main-body {
  min-height: 100%;
  position: relative; }

html, body {
  height: 100%; }

#wrap {
  min-height: 100%; }

#main-body {
  overflow: auto;
  padding-bottom: 60px; }

/* must be same height as the footer */
footer {
  position: relative;
  margin-top: -60px;
  /* negative value of footer height */
  height: 60px;
  clear: both; }

/*Opera Fix*/
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px; }

footer {
  /*position: absolute;*/
  /*bottom: 0px;*/
  color: #FFF; }
  footer #legal, footer #version {
    opacity: 0.4;
    font-size: 12px;
    padding: 0 20px; }

#login-page {
  background-image: url("../img/bg/1.png"); }
  #login-page #login-window {
    -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.71);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.71);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #2A2A2C;
    color: #FFF;
    width: 90%;
    max-width: 550px;
    margin: 50px auto;
    overflow: hidden; }
    #login-page #login-window .section-container {
      border: none;
      margin-bottom: 0; }
      #login-page #login-window .section-container .dropdown {
        padding-top: 50px; }
        #login-page #login-window .section-container .dropdown .title {
          background: #2A2A2C;
          height: 50px;
          display: inline-block;
          border: none;
          padding: 0 10px; }
          #login-page #login-window .section-container .dropdown .title a {
            color: #FFF;
            padding: 17px; }
          #login-page #login-window .section-container .dropdown .title .mobile-tab-icon:before {
            content: "\f067";
            padding-right: 15px; }
        #login-page #login-window .section-container .dropdown .content {
          background: #3B3B3D;
          color: white;
          border: none;
          padding-top: 1px; }
          #login-page #login-window .section-container .dropdown .content .form-submit {
            background: #487CD9; }
          #login-page #login-window .section-container .dropdown .content .form-submit:hover {
            background: #82A6E7; }
          #login-page #login-window .section-container .dropdown .content .form-text {
            line-height: 50px;
            font-size: 16px; }
          #login-page #login-window .section-container .dropdown .content .form-input:hover, #login-page #login-window .section-container .dropdown .content .form-input:active {
            background: #686868; }
          #login-page #login-window .section-container .dropdown .content input {
            font-size: 12px;
            background: rgba(255, 255, 255, 0.3);
            border: none;
            padding-left: 10px;
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
            -o-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out; }
          #login-page #login-window .section-container .dropdown .content .form-text, #login-page #login-window .section-container .dropdown .content input {
            color: inherit;
            height: 50px; }
      #login-page #login-window .section-container .dropdown.active .mobile-tab-icon:before {
        content: "\f068"; }
      #login-page #login-window .section-container .dropdown.active .title {
        background: #487CD9; }
