#General Rules #
        RewriteEngine on
        RewriteBase /
        Options All -Indexes
        Options +FollowSymLinks

# URL Rewrites #
        RewriteCond %{HTTP_HOST} !^cloudiverse\.com$ [NC]
        RewriteRule ^(.*)$ https://cloudiverse.com/$1 [R=301,L]

# CI Rules #
        # Add trailing / to URL #
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_URI} !(.*)/$
        RewriteRule ^(.*)$ $1/ [R=301,L]

        # Remove index.php from URL #
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule ^(.*)$ index.php?/$1

