<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>jQuery UI Sortable - Default functionality</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <style>
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 30px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }
  #inline li {display: inline}
  img.image {
	width: 30px;
	height: 30px;
  }
  </style>
  <script>
  $(function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();

	$("#addFolder").click(function() {
		$("#sortable").append("<li class='ui-state-default'>" + 
								"<ul id='inline'>" + 
									"<li id='pictures'><img class='image' src='images/folder.png'></li>" + 
									"<li id='name'>Folder</li>" + 
									"<li id='time'>Time</li>" + 
								"</ul>" + 
							"</li>");
	});

	$("#addPDF").click(function() {
		$("#sortable").append("<li class='ui-state-default'>" + 
								"<ul id='inline'>" + 
									"<li id='pictures'><img class='image' src='images/pdf.jpg'></li>" + 
									"<li id='name'>PDF</li>" + 
									"<li id='time'>Time</li>" + 
								"</ul>" + 
							"</li>");
	});
	
	$("#addWord").click(function() {
		$("#sortable").append("<li class='ui-state-default'>" + 
								"<ul id='inline'>" + 
									"<li id='pictures'><img class='image' src='images/word.png'></li>" + 
									"<li id='name'>Word</li>" + 
									"<li id='time'>Time</li>" + 
								"</ul>" + 
							"</li>");
	});
  });
  </script>
</head>
<body>
 <button id="addFolder">AddFolder</button>
 <button id="addPDF">AddPDF</button>
 <button id="addWord">AddWord</button>
<ul id="sortable">	
  <li class="ui-state-default">
	<ul id="inline">
		<li id="pictures"><img class="image" src="images/folder.png"></li>
		<li id="name">Folder</li>
		<li id="time">Time</li>
	</ul>
  </li>
  <li class="ui-state-default">
	<ul id="inline">
		<li id="pictures"><img class="image" src="images/pdf.jpg"></li>
		<li id="name">PDF</li>
		<li id="time">Time</li>
	</ul>
  </li>
</ul>
 
 
</body>
</html>