/*
 *
 * global.css
 *
 * Link Color: 2C68EB
 * Link Hover Color: 6696FF
 * Link Active Color: 214FB3
 *
 */

* {
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif !important;
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    height: 100%;
    min-width: 480px;
}

body {
    height: 100%;
    background-attachment: fixed;
    background-color: black;
    background-image: -webkit-linear-gradient(black, black);
    background-image: -moz-linear-gradient(#306070, #307080);
}

#container {
    position: relative;
    min-height: 100%;
}

h1, h2, h3, p {
    letter-spacing: 1px;
    font-weight: 200;
    color: #ffffff;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 26px;
    margin: 20px 0;
}

h3 {
    font-size: 20px;
    margin: 10px 0;
}

p {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #2C68EB;
}

a:hover {
    color: #6696FF;
}

a:active {
    color: #214FB3;
}

.invisible {
    display: none;
}

/*
 * Base Input Style
 *
 */

input, button, select {
    font-size: 18px;
    padding: 8px;
    outline-width: 0;
    background: #ffffff;
    height: 24px;
    border: 1px solid #d0d0d0;
}

input:hover, button:hover, select:hover {
    background: #dddddd;
}

legend, label {
    font-weight: 400;
    font-size: 18px;
}

/*
 * Button Style
 *
 */

input[type=button], button, select {
    display: block;
    height: 40px;
    color: #2C68EB;
}

input[type=button]:hover, button:hover, select:hover {
    cursor: pointer;
}

input[type=button]:active, button:active, select:active {
    background: #404040;
    color: #ffffff;
    cursor: pointer;
}

/*
 * Table Style
 *
 */
table {
    background: #ffffff;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    padding: 10px;
    margin: 0;
    border: 1px solid #d0d0d0;
}

/*
 * Header and Footer
 *
 */

#header, #footer {
    height: 25px;
    line-height: 25px;
    padding: 10px 20px;
    background: #000000;
    opacity: 0.8;
    color: #ffffff;
}

#header {
    margin-bottom: 20px;
}

#userinfo p {
    float: right;
    height: 100%;
    margin: 0 auto;
    font-size: 20px;
}

#footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

#version {
    float: left;
}

#legal {
    float: right;
}

/*
 * Content Wrapper
 */

#content {
    overflow: hidden;
    padding: 0 20px 65px 20px;
}

/*
 * Report Selection List
 */

.reportlist {
    overflow: hidden;
    margin-bottom: 40px;
}

.reportlist li {
    display: block;
    float: left;
    width: 200px;
    margin: 10px;
    height: 200px;
    text-align: center;
}

.reportlist li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 26px;
    background-color: #ffffff;
    border-radius: 5px;
    line-height: 200px;
    font-weight: 200;
    box-shadow: 0 4px 0 #c0c0c0;
}

.reportlist li a:hover {
    background-color: #dddddd;
    color: #2C68EB;
}

.reportlist li a:active {
    background-color: #404040;
    color: #ffffff;
    margin: 4px 0 0 0;
    box-shadow: 0 -4px 0 #303030;
}

/*
 * Login Form
*/

#loginform {
    top: 50%;
    left: 50%;
    position: absolute;
    height: 300px; /*arbitrary*/
    width: 400px;
    margin:-150px -200px;
}

#username, #password {
    float: left;
    width: 382px; /* 400px - (8px * 2) - 2px */
    border-bottom: none;
}

#username {
    border-radius: 5px 5px 0 0;
}

#login {
    width: 100%;
    border-radius: 0 0 5px 5px;
}

.error, .warning, .success {
    margin: 10px auto;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
}

.error p, .warning p, .success p {
    font-size: 18px;
    color: #ffffff;
}

.error {
    background-color: #cc0000;
}

.warning {
    background-color: #cccc00;
}

.success {
    background-color: #00cc00;
}

/*
 * Chart controls
 *
 */

#chartcontrols {
    height: 40px;
    padding: 20px 0 10px 0;
}

#chartcontrols h2 {
    float: left;
    margin: 0 20px 0 0;
    height: 100%;
    line-height: 40px;
}

#printbutton {
    float: left;
    border-radius: 5px 0 0 5px;
}

#graphtypeselect {
    float: left;
    border-radius: 0 5px 5px 0;
    -webkit-appearance: none;
    border-left: none;
}

#paginationLabel a {
    color: #ffffff;
}

/*
 * Chart
 *
 */

.chartcontainer {
    position: relative;
    min-height: 40px;
    margin: 10px 0;
}

/*
 * Date and Range Filters
 *
 */

#datefilter, #rangefilter {
    width: 200px;
    height: 224px; /* 240px - (8px * 2) */
    padding: 8px;
    margin: 10px;
    float: left;
    background: #ffffff;
    border: 1px solid #d0d0d0;
}

#datefilter input, #rangefilter input {
    margin: 10px 0;
}

#datefilter input[type='text'] {
    float: left;
    width: 142px; /* 200px - (8px * 2) - (1px * 2) - 40px*/
    height: 22px;
}

#datefilter input[type='button'] {
    float: left;
    width: 40px;
    border-left: 0;
}

#rangefilter input {
    width: 182px; /* 200px - (8px * 2) - (1px * 2)*/
}

#datefilter input:hover {
    cursor: pointer;
}

#datefilter label, #rangefilter label {
    display: block;
}

/*
 * Predicate Filter
 *
 */

.predicatefilter {
    float: left;
    margin: 10px;
}

.predicatefilter label {
    display: block;
}

.predicatefilter select {
    float: left;
    -webkit-appearance: none;
    border-radius: 0;
    border-bottom: none;
}

.predicatefilter select:first-of-type {
    border-right: none;
}

.multiselect {
    clear: both;
    height: 160px;
    background: #ffffff;
    overflow: auto;
    border: 1px solid #d0d0d0;
}

.multiselect label {
    margin: 8px;
}

.multiselect input[type="checkbox"] {
    margin-right: 5px;
    height: 16px;
}

.removebutton {
    border-top: none;
    display: block;
    width: 100%;
}

#buttoncontainer {
    float: left;
    margin: 50px 10px 10px 10px;
    height: 140px;
    width: 50px;
}

#addbutton, #generatebutton {
    border-radius: 25px;
    height: 50px;
    width: 50px;
    font-size: 26px;
    font-weight: 400;
    margin: 10px 0;
}

#addbutton {
    padding-top: 4px;
}

/*
 * Maintenance
 *
 */

#maintenancemessage {
    position: absolute;
    height: 40px;
    top: 50%;
    left: 0;
    margin: -80px 0 0 0;
    width: 100%;
    text-align: center;
}

/*
 * Members page
 *
 */

ul {
    margin: 20px 0;
}

li {
    margin: 10px 40px;
    color: #ffffff;
}

li.count strong {

}
